{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic", "importSource": "@emotion/react" }],
    [
      "react-app",
      {
        "flow": false,
        "typescript": true,
        "absoluteRuntime": false
      }
    ]
  ],
  "plugins": ["@emotion/babel-plugin"]
}
