.monaco-scrollable-element {
  border-left: 1px solid #52525226;
}

/* padding between the gutter and code */
.monaco-editor .lines-content {
  padding-left: 8px;
}

.monaco-editor .view-line > span > span {
  font-family: inherit;
}

.editor-launcher {
  font-size: 16px;
}
